/*
  Colores
  Gris: #454444;
  Blanco: #fcfcfc;
  Azul: #243468;
  Verde: #069B3B;
  Amarillo: #F2E50D;
*/
@media (max-width: 480px) {
  .titulo{
    font-size: 2rem !important;
  }
  .subtitulo{
    font-size: 1rem !important;
    font-weight: 400 !important;
  }
  .card.horizontal.hoverable {
    display: flex;
    flex-direction: column;
}
}
h3{
  text-align: center;
}
h4.texto-amarillo{
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
}
p.subtitulo{
  font-size: 1.5rem;
  font-weight: lighter;
}
.texto-gris{
  color: #454444 !important;
}
.texto-blanco{
  color: #fcfcfc !important;
}
.texto-azul{
  color: #243468 !important;
}
.texto-verde{
  color: #069B3B !important;
}
.texto-amarillo{
  color: #F2E50D !important;
}
.gris{
  background-color: #454444 !important;
}
.blanco{
  background-color: #fcfcfc !important;
}
.azul{
  background-color: #243468 !important;
}
.verde{
  background-color: #069B3B !important;
}
.amarillo{
  background-color: #F2E50D !important;
}
table.highlight>tbody>tr:hover{
  background-color: rgba(6, 155, 59, 0.3);
}

.hero{
  position: relative;
}
.hero .contenedor{
  position: absolute;
  padding: 50px 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  margin: 0;
  width: 100%;
}
.img-owl{
  margin: 0 auto;
  width: 150px !important;
}
